//
   Created by toulon on 3/19/14.

form(method="POST", action="/joe")
  input(type="hidden", name="_method", value="POST")
  p Count
    input(type="number", name="cnt")
  p
    input(type="submit")
